@import "./styles/colours.scss";
@import "./styles/reponsive/responsive.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;800&display=swap"); //Poppins

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;

  @include tablet {
  }
}

.App-link {
  color: #61dafb;
}

.Theme {
  &__Light {
    color: $dark;
    background: $light;
  }
  &__Dark {
    color: whitesmoke;
    background: $dark;
  }
}
