@import "../styles/colours.scss";

.NotFound{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    margin-bottom: 14rem;

    >h1 {
        font-size: xx-large;
    }
    > a{
        color: $light;
        padding: 1rem;
    }
}