$light: #f5f5f5;
$dark: rgb(41, 41, 41);
$lightGrey: #7a7a7a;
$darkGrey: #414141;
$darkTransparent: #0101018c;
$lightTransparent: #7a7a7a7c;
$orange: darkorange;
$black: black;
$white: white;
$almond: blanchedalmond;
